/* {border: 1px dashed red;}*/


.canvas {
                border: none;
                background-color: #DDDADA;
                width: 960px;

                margin: auto;
                margin-top: 0px;
}

.header {
                display: inline-block;
                background-color: #C4C2C2;
                width: 920px;
                height: 170px;
                margin: 20px 20px 10px 20px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 2em;
                color: #363636;
                font-weight: bold;
}

.header_text {
                line-height: 170px;
                display: inline-block;
                vertical-align:middle;
}

.center_circle {
                display: inline-block;
                border-radius: 50%;
                vertical-align: middle;


                  }

.nav_button {
                display: inline-block;
                background-color: #C4C2C2;
                width: 215px;
                height: 40px;
                margin: 10px 6px 10px 10px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #363636;
              }

div:nth-child(2) {margin-left: 20px;}
div:nth-child(5) {margin-right: 20px;}
div:nth-child(7) {margin-left: 20px;}
div:nth-child(8) {width: 450px;}
div:nth-child(10) {margin-top: 10px;}




.button {
                line-height: 40px;
                width: 215px;
                display: inline-block;
                vertical-align:middle;}

.index_button {
                line-height: 40px;
                width: 450px;
                display: inline-block;
                vertical-align:middle;}

.blog_type {

                background-color: #C4C2C2;
                width: 920px;
                height: 80px;
                margin-top: 10px;
                margin-left: 20px;
                margin-bottom: 10px;
                text-align: center;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 2em;
                color: #363636;
                font-weight: bold;


            }


.blog_type_text {
                line-height: 80px;
                display: inline-block;
                vertical-align:middle;
              }

.blog {
                display: inline-block;
                background-color: #C4C2C2;
                width: 920px;

                margin: 20px 20px 10px 20px;
                text-align: center;
                font-family: Arial, sans-serif;
                color: #363636;

}

.blog_title {
                padding: 10px 100px 10px 100px;
                display: inline-block;
                font-size: 1.5em;
              }

.blog_text {
                padding: 0px 100px 10px 100px;
                display: inline-block;
                font-size: 1em;
                text-align: justify;
              }


.footer {
                display: inline-block;
                background-color: #C4C2C2;
                width: 920px;
                height: 100px;
                margin: 10px 20px 20px 20px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #363636;}

.footer_text {
                line-height: 100px;
                display: inline-block;
                vertical-align:middle;
              }






a:link {
            text-decoration: none;
            color: #363636;
}

a:hover {
            display:inline-block;
            text-decoration: none;
            color: #DDDADA;
            background-color: #363636;
}

div span:nth-child(8) {width: 450px;}











