body{
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  /*color: #182e5d;*/
  font-family: 'Open Sans', sans-serif;
  background: url(../imgs/nyc_background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.section {
  width: 100%;
  float: left;
  padding-bottom: 60px;
  /*background-color: rgba(21,20,18, 0.4 );*/
}

.align-right{
  text-align: right;
  padding-right: 10%;

}

.align-left{
  text-align: left;
  padding-left: 10%;
}

.section .header{
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  float: left;
  margin-top: 70px;
  width: 100%;
  font-size: 5em;
}


.landing {
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-panel{
  width: 50%;
  background-color: rgba( 24, 46, 93, 0.7 );
  margin: auto;
  text-align: center;
  letter-spacing: 6px;
  border-radius: 4px;
  display: block;
  min-width: 620px
}

.name {
  font-size: 4em;
  line-height: 2em;
}

#connect{
  width: 100%;
  height: 3em;
  line-height: 3em;

}

#connect div{
  text-decoration: none;
  color: white;
  width: 25%;
  float: left;
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
}

#connect a {
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
  /*line-height: 3em;*/
  /*vertical-align: middle;*/
}

#connect a:hover{
  font-size: 1.5em
}

.dev{
  font-size: 2em;
  line-height: 3em;
}

.down-arrow{
  font-size: 3em;
  font-family: 'Glyphicons Halflings';

}

.navigate{
  position: absolute;
  left: 50%;
  bottom: 0px;
  /*background-color: red;*/
  width: 50px;
  height: 50px;
  margin-left: -25px;
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: pointer;
}

.navigate {
  text-decoration: none
  animation: pulse 2s infinite
}


.horizontal-line{
  width: 90%;
  border-top: 1px solid white;
  margin: auto;
}




#develop, #operate, #collaborate{
  /*background-color: #182e5d*/
  background-color: rgba( 24, 46, 93, 0.7 )
}

.skill-row{
  width: 100%;
/*  display: flex;
  align-items: center;
  justify-content: space-around;*/
}


.skill-box{
  float: left;
  text-align: center;
  margin-top: 70px;
  width: 25%;

}

.skill-box i {
  font-size: 5em
}

.skill-box div{
  margin-top: 20px
}





@media (max-width: 767px) {

  .name-panel {
    width: 95%;
    min-width: 0px;
    margin-top: 100px;

  }

  #connect div{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

  }

  #connect a{
    font-size: 5em;
    line-height: auto;
    height: auto;
  }

  #connect a:hover {
    font-size: 5em;
  }

  .header{
    text-align: center;
    padding: 0px;
  }

  .skill-box{
    width: 50%;

  }

  .name{
    font-size: 2em;
  }

  .dev{
    font-size: 1em;
  }

  .landing{
    /*display: block*/
  }

  #home {
    min-height: 400px;
    overflow: hidden;
  }

  .name_box{
    margin-top: 100px;
  }

  .about.row{
    padding-top: 50px;
    padding-bottom: 50px;
  }


}
