/* {border: 1px dashed red;}*/


body {
                background-color: #FDFDF9;
                margin: auto;
                width: 920px;
                margin-top: 0px;
                font-family: Arial, sans-serif;
                text-align:center;
                }

a {text-decoration: none}



header {
                position: relative;
                margin: auto;
                height: 329px;
                color: #FDFDF9;
                font-weight: bold;
                position: relative;
                text-align: center;
                text-shadow: 3px 0px 10px black;
                }

header a:visited {color: #FDFDF9}
header a:link {color: #FDFDF9}



header img {
                width: 100%;
                }


h3 {
                display: block;
                margin: auto;
                position: absolute;
                text-align: center;
                top: 35%;
                color: #FDFDF9;
                font-size: 3em;
                letter-spacing: 10px;
                width: 920px;

                }


h3 span {
                display: block;
                display: absolute;
                font-size: .4em;
                letter-spacing: 4px;
                color: #FDFDF9;
                text-shadow: 3px 3px 5px black;
                }


nav {
                width: 100%;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #363636;
              }


nav a {
            display: inline-block;
            width: 25%;
            text-align: center;
            line-height: 60px;
            float: left;
 }


nav a:link {
            text-decoration: none;
            color: #16232C;
}





nav a:hover {
            display:inline-block;
            text-decoration: none;
            color: #FDFDF9;
            background-color: #16232C;
}




.blog_button {display: inline-block;
            width: 50%;
            text-align: center;
            line-height: 60px;
            float: left;
            }

.back_to_index {
            width: 50%;
}




.blog_type {

                background-color: #554444;
                width: 920px;
                height: 80px;
                margin-top: 0px;
                margin-left: 20px;
                margin-bottom: 10px;
                text-align: center;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 2em;
                color: #363636;
                font-weight: bold;


            }


p {
                display: inline-block;
                margin: auto;
                width: 40%;
                margin-top: 40px;
                margin-bottom: 40px;

            }


.blog {
                display: inline-block;
                height: 100%;
                background-color: #FDFDF9;
                width: 920px;
                text-align: center;
                font-family: Arial, sans-serif;
                color: #16232C;

}

h4 {
                margin: 20px 0px;
                display: inline-block;
                font-size: 1.5em;
              }

.blog_text {display: block;
                width: 80%;
                display: inline-block;
                font-size: 1em;
                text-align: justify;
                margin: 20px;
              }

.align_right {display:block;
                    text-align: right;
                    position: relative;
                    right: 0px;}




.logos { display: inline-block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
            }

p a {margin-left: 10px;
margin-right: 10px;
text-decoration: none;}




footer {
                display: inline-block;
                position: relative;
                background-color: #16232C;
                width: 920px;
                height: 100px;
                line-height: 100px;
                vertical-align:middle;
                margin: 20px 0px 20px 0px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #FDFDF9;}













