/* {border: 1px dashed red;}*/


body {
                background-color: #FDFDF9;
                margin: auto;
                border: none;
                width: 960px;
                margin-top: 0px;
}

.canvas {
                border: none;
                background-color: #FDFDF9;
                width: 960px;
                margin: auto;
                margin-top: 0px;
}

.header {
                display: inline-block;
                width: 920px;
                margin: 20px 20px 0px 20px;
                font-family: Arial, sans-serif;
                color: #FDFDF9;
                font-weight: bold;
                position: relative;
                text-align: center;
                text-shadow: 0px 0px 10px black;
}


.header2 {
                display: block;
                font-size: .4em;
                letter-spacing: 5px;
                text-align: center;
                margin: 5px 5px 5px 5px;
                color: #FDFDF9;
                text-shadow: 3px 3px 5px black;


}


h3 {
                position: relative;
                display: block;
                margin-left: auto;
                margin-right: auto;
                position: absolute;
                text-align: center;
                top: 80px;
                color: #FDFDF9;
                font-size: 3em;
                letter-spacing: 10px;
                width: 920px;
                text-shadow: 3px 0px 10px black;
}

.center_circle {
                display: inline-block;
                position: absolute;
                border-radius: 50%;
                vertical-align: middle;
                position: relative;
                left: -200px;
                width: 100%}



.header_banner {
                display: inline-block;
                position: relative;
                vertical-align: middle;
                position: relative;
                width: 100%



                  }

nav {
                position: relative;
                display: inline-block;
                width: 215px;
                height: 40px;
                margin: 0px 6px 0px 10px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #363636;
              }

nav:nth-child(2) {margin-left: 20px;}
article:nth-child(5) {margin-right: 20px;}
article:nth-child(7) {margin-left: 20px;}
article:nth-child(8) {width: 450px;}





.button {   font-size: 1em;
                line-height: 60px;
                width: 215px;
                display: inline-block;
                vertical-align:middle;
                }


.blog_type {

                background-color: #554444;
                width: 920px;
                height: 80px;
                margin-top: 0px;
                margin-left: 20px;
                margin-bottom: 10px;
                text-align: center;
                font-family: Helvetica, Arial, sans-serif;
                font-size: 2em;
                color: #363636;
                font-weight: bold;


            }


.blog_type_text {
                line-height: 80px;
                display: inline-block;
                vertical-align:middle;
              }



.blog {
                display: inline-block;
                height: 100%;
                background-color: #FDFDF9;
                width: 920px;
                margin: 20px 20px 10px 20px;
                text-align: center;
                font-family: Arial, sans-serif;
                color: #16232C;

}

h4 {
                position: relative;
                top: 0px;
                margin: 0px 0px 0px 0px;
                display: inline-block;
                font-size: 1.5em;
              }

.blog_text {
                padding: 20px 100px 10px 100px;
                display: inline-block;
                font-size: 1.5em;
                text-align: justify;
              }

.align_right {display:block;
                    text-align: right;
                    position: relative;
                    right: 0px;}



.logos {margin: 10px;}






footer {
                display: inline-block;
                position: relative;
                background-color: #16232C;
                width: 920px;
                height: 100px;
                margin: 10px 20px 20px 20px;
                text-align: center;
                font-family: Arial, sans-serif;
                font-size: 1em;
                color: #FDFDF9;}

.footer_text {
                line-height: 100px;
                display: inline-block;
                vertical-align:middle;
              }






a:link {
            text-decoration: none;
            color: #16232C;
}

body a:hover {
            display:inline-block;
            text-decoration: none;
            color: #FDFDF9;
            background-color: #16232C;
            text-shadow: 0px 0px 10px #FDFDF9;
}

article span:nth-child(8) {width: 450px;}


p {
            font-size: .75em;
}


p a:hover {background-color: #FDFDF9}







