body {font-family: Helvetica, Arial, sans-serif;
          font-size: 2em;
          color: black;
          display: inline-block;
          width: 100%;
          margin: auto;
          text-shadow: 0px 0px 0px black;
          background-color: white;
}


.gradient {
                    background: -webkit-linear-gradient(right,rgba(0,0,0,0),rgba(0,0,0,1)); /*Safari 5.1-6*/
                    background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)); /*Opera 11.1-12*/
                    background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,1)); /*Fx 3.6-15*/
                    background: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1)); /*Standard*/
                    min-height: 100%;
                    width: 50%;
                    display: inline;
                    position: fixed;
                    top: 0;
                    left: 0;
  }


body > img {min-height: 100%;
                    min-width: 100%;
                    display: inline;
                    position: fixed;
                    top: 0;
                    left: 0;}

div img { width: 100%;
              height: auto;
              float: left;
              display: inline;
              position: relative;}


header {   position: absolute;
                left: 10%;
                top: 10%;

                width: 80%;
                font-weight: bold;

  }


#blog {width: 40%;
           font-weight: normal;}

.blog_text {width: 100%;
           font-weight: normal;
           display: block;
           height: 100%;
           }

li a {display: inline-block;}

.code { width: 75%;
            font-family: Courier;
            color: #00FF00;
            margin-left: auto;
            margin-right: auto;
            background-color: black;
            padding: 1% 5% 1% 5%;
            text-shadow: none;
            font-weight: normal;
            font-size: 1em;
            text-align: left;

}

.indent {margin-left: 10%;
font-weight: normal;}

#blog_img {width: 50%;
           font-weight: normal;
           display: block;
           margin-left: auto;
           margin-right: auto;
           height: 100%;
           float: center;}

  a:link {color: black;
  }

  a:visited{color: black;}

  a:hover {color: red;
}

header span {font-weight: bold;
          font-size: 3em;
          text-shadow: 2px 2px 10px black;
          display: block;}


a span:hover {color: white;}


a {display: block;
position: relative;}

img {float: left;}

.menu {display: inline-block;
font-size: 1em}

.back {position: fixed;
  left: 0px;
  bottom: 10%;
  background-color: black;
  padding: 20px;
  font-weight: bold;
  }

.caption {position: fixed;
  right: 5%;
font-size: .5em;
bottom: 10%;
text-shadow: 2px 2px 10px black;
}

p {font-size: .5em ;
  text-align: justify;


}



.logos a {float: left;
margin-right: 2%;
margin-bottom: 2%;
border-radius: 100%}

.logos a:hover {box-shadow: 0px 0px 60px white;}

nav a {font-size: .75em
           }

nav {display: inline-block;
margin-right: 1em;
margin-bottom: 1em;
}

header p a {display: inline-block;
text-align: center;
}

.back_to_index {margin-right: 10%;
  margin-left: 10%;
text-align: center;}

div.photos p {text-align: right;
padding-right: 10%}

h4 {text-align: center;}

.blog_nav {text-align: center;
margin-top: 10%:;
display:block;
}

header p img.small {height: 50px;
  margin-right: 1em;
}

img.center {text-align: center;}

li {font-weight: normal;
font-size: .5em;
}

ol {position: relative;
  display: block;
  margin-left: auto;
    margin-right: auto;
    float: center;

}